.app-list__element {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ccc;
  border-radius: 5px;
  font-size: 20px;
}
.app-list .app-list__element:nth-child(1) {
  width: 70%;
  margin: 0 auto;
  font-size: 30px;
}
.app-list .app-list__element:nth-child(2) {
  width: 80%;
  margin: 0 auto;
  font-size: 28px;
}
.app-list .app-list__element:nth-child(3) {
  width: 90%;
  margin: 0 auto;
  font-size: 26px;
}
.app-list .app-list__element + .app-list__element {
  margin-top: 20px;
}
.app-list__element-name,
.app-counter__input {
  font-size: inherit;
}


.app-counter {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.app-counter__control {
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.app-counter__data {
  padding: 0 15px;
}


.app-list__element-add {
  color: #0684bd;
  cursor: pointer;
  margin-right: 10px;
}
.app-list__element-add:hover {
  color: #0aadf7;
}
.app-list__element-cancel,
.app-list__element-delete {
  position: absolute;
  left: 102%;
  fill: #e83138;
  cursor: pointer;
  font-size: 16px;
  width: 20px;
  height: 20px;
}
.app-list__element-cancel:hover,
.app-list__element-delete:hover {
  fill: #ec5a5f;
}
