.app-btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  min-height: 53px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ccc;
  border: none;
}
