.container {
  position: relative;
  width: 720px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.app {
  /**/
}

.app-system-controls {
  /**/
}

.app-system-controls__item {
  width: 30px;
}

.app-new-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
}

.app-list {
  height: 100%;
  overflow: auto;
  padding: 100px 50px 10px 50px;
}

@media (max-width: 768px) {
  .app-new-container {
    left: 5%;
    right: 5%;
  }
}
