header {
  background-color: #f2f2f2;
}

.app-system-controls {
  display: flex;
  padding: 10px;
}

.app-system-controls__item {
  width: 20px;
  cursor: pointer;
}

.app-system-controls__item + .app-system-controls__item {
  margin-left: 20px;
}

.app-system-controls__file-upload-input {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  cursor: pointer;
}

.container {
  position: relative;
  width: 768px;
  height: 100%;
  margin: 0 auto;
}

.app {
  /**/
}

.app-new-container {
  padding: 0 15%;
  margin-bottom: 5%;
}

.app-list {
  height: 100%;
  overflow: auto;
  padding: 10px 10%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 425px) {

}
