header {
  background-color: #f2f2f2;
}

.app-system-controls {
  display: flex;
  padding: 10px;
}

.app-system-controls__item {
  width: 20px;
  cursor: pointer;
}

.app-system-controls__item + .app-system-controls__item {
  margin-left: 20px;
}

.app-system-controls__file-upload-input {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  cursor: pointer;
}

.container {
  position: relative;
  width: 720px;
  height: 100%;
  margin: 0 auto;
}

.app {
  /**/
}

.app-new-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
}

.app-list {
  height: 100%;
  overflow: auto;
  padding: 100px 50px 10px 50px;
}

@media (max-width: 768px) {
  .app-new-container {
    left: 5%;
    right: 5%;
  }
  .container {
    width: 100%;
  }
}
